.categories-container {
    width: 100vw;
    justify-items: center;

}

.categories {
    border-color: black;
    border-style: dotted;
    border-width: 0.5px;
    height: 284px;
    width: 1110px;
    margin-top: 8em;
    margin-bottom: 8em;
}