@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.main {
    border-radius: 10px;
    margin: 0;
    background-color: #141414;
    width: 100vw;
    font-family: "Manrope", sans-serif;
}

.header-box {
    position: relative;
    padding: 32px 165px 36px 165px;
}

/* a {
    color: white;
    text-decoration: none;
} */

.header-menu-grid-center a:hover {
    color: #d87d4a;
    transition: all 0.2s ease-in-out;
}

/* #categories-thumbnails {
    background-color: blue;
    margin: 120px 165px 168px 165px
} */

/* #header-box { TODO: DELETE?
    border-color: white;
    border-style: ridge;
    border-width: 0.5px;
} */

.header-menu {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 28px;
    align-content: center;
}

.header-menu-grid-left {
    justify-self: start;
    align-self: center;
}

.header-menu-grid-right {
    justify-self: end;
    align-self: center;
}

.header-menu-grid-center {
    color:#f2f2f2;
    display: grid;
    gap: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px;
    grid-template-columns: repeat(4, 1fr); /* fix gap between home and headphones */
    justify-items: center;
    align-items: center;
}

.header-menu-grid-center a:first-child {
    padding-left: 2.5em;
}

.hr-break {
    margin-top: 36px;
    opacity: 20%;
    margin-bottom: 0.1em;
}

.two-columns {
    overflow: hidden;
    color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.right-column img {
    position: relative;
    top: -6em;
}